.text-toggle[aria-expanded=false] .text-expanded {
 display: none;
}
.text-toggle[aria-expanded=true] .text-collapsed {
 display: none;
}
.sticky-offset {
  top: 58px;
}
.markdown-body {
  box-sizing: border-box;
  min-width: 200px
  max-width: 980px
  margin: 0 auto;
  padding: 45px;
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
a.disablenav {
  color: gray;
  pointer-events: none;
}